#layout--panel {
  background-color: var(--primary);
  width: 100%;
  max-width: 299px;
  min-width: 299px;
  width: 100%;
  height: calc(100vh - 48px - 40px);
  border: 1px solid var(--border);
  border-top: none;
  border-left: none;
  border-bottom: none;
  flex-direction: column;
  display: none;

  &.layout--panel__active {
    display: flex;
  }

  #layout--panel--folders {
    overflow: auto;
  }

  #layout--panel--actions {
    padding: 8px;
    display: flex;
    gap: 3px;
    align-items: center;

    i {
      min-width: 25px;
      min-height: 25px;
      color: var(--text-secondary);
      font-size: 16px;
      font-weight: 200;
      cursor: pointer;
      border-radius: 4px;

      &:hover {
        background-color: var(--hover);
      }
    }

    #panel--actions--search {
      width: 100%;

      input {
        width: 100%;
        background-color: var(--primary);
        border: 1px solid var(--border);
        height: 25px;
        border-radius: 4px;
        outline: none;
        color: var(--text-primary);
        padding-left: 10px;

        &:hover {
          background-color: var(--hover);
        }
      }
    }
  }

  @media screen and (max-width: 869px) {
    position: fixed;
    opacity: 0;
    left: -50%;
    z-index: 2;
    top: calc(40px + 48px);
    pointer-events: none;
    display: flex;
    transition: .5s;
    max-width: 100vw;
    width: 299px;

    &.layout--panel__active {
      left: 81px;
      opacity: 100;
      pointer-events: all;
    }
  }

  @media screen and (max-width: 768px) {
    &.layout--panel__active {
      left: 0;
    }
  }
}
