#layout--sidebar {
  min-width: 81px;
  height: calc(100vh - 48px - 40px);
  background-color: var(--primary);
  border: 1px solid var(--border);
  border-top: none;
  border-left: none;
  border-bottom: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 0;
  gap: 5px;
}
