.column--header {
  min-height: 40px;
  height: 40px;
  width: 100%;
  background-color: var(--primary);
  border: 1px solid var(--border);
  border-top: none;
  border-left: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  color: var(--text-primary);

  &.column--header__secondary {
    background-color: var(--secondary);
  }
}
