#navbar {
  width: 100%;
  height: 48px;
  background-color: var(--primary);
  box-shadow: inset 0 -1px 0 var(--border);
  justify-content: space-between;
  padding: 0 10px;
  position: relative;

  &,
  #navbar--menu,
  #navbar--actions {
    display: flex;
    align-items: center;
  }

  #navbar--menu {
    span {
      color: var(--text-primary);
      padding: 7px 12px;
      cursor: pointer;
      transition-duration: var(--fast-transition);
      font-size: 15px;
      font-weight: 400;
      border-radius: 4px;

      &:hover {
        background-color: var(--hover);
      }
    }
  }

  #navbar--actions {
    gap: 3px;

    i {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
      font-size: 18px;
      border-radius: 4px;
      transition-duration: var(--fast-transition);
      color: var(--text-secondary);
      cursor: pointer;

      &:hover {
        color: var(--text-primary);
        background-color: var(--hover);
      }
    }
  }

  @media screen and (max-width: 768px) {

    #navbar--menu,
    #navbar--actions {
      display: none;
    }
  }
}