#request-options {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  font-size: 13px;

  #request--cookies {
    color: dodgerblue;
    cursor: pointer;
    font-weight: bold;
  }

  &>div {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}

#request-options-table {
  margin-top: 15px;
  overflow: auto;
}
