.option-tab {
  color: var(--text-secondary);
  cursor: pointer;
  height: 25px;

  &.option-tab__active {
    border-bottom: 1px solid var(--postman);
  }

  &:hover,
  &.option-tab__active {
    color: var(--text-primary);
  }
}
