#response {
  width: 100%;
  height: auto;
  background-color: transparent;
  border-top: 1px solid var(--border);

  #response--header {
    display: flex;
    justify-content: space-between;
    padding: 10px;

    span {
      color: var(--text-primary);
      font-size: 13px;
      font-weight: bolder;
    }

    i {
      color: var(--text-secondary);
      font-size: 12px;
      cursor: pointer;
      transform: rotate(180deg);
    }
  }

  &.response__active {
    min-height: 300px;
    max-height: 300px;

    i {
      transform: rotate(0deg) !important;
    }
  }

  #response--value {
    height: 100%;
  }
}
